.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.icon {
    display: block;
    object-fit: cover;
    border-radius: 5%;
}
