.container {
    width: 100%;
    height: 260px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.containerMain {
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    font-style: italic;
    display: flex;
    width: 100%;
    height: 200px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.noneContainerIcon {
    display: none;
}

.containerIcon {
    top: 150px;
    position: absolute;
    display: inline-block;
    background-color: black;
    border: 1px solid #000;
    border-radius: 100%;
    transition: transform 0.1s ease-out;
    animation: slide-up 0.5s ease-out;
    
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.containerIcon:hover {
    transform: translateY(-10px);
}

.icon {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}