.cursor {
    position: fixed;
    pointer-events: none;
    background: transparent;
    border: 4px solid rgb(0, 0, 0);
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-width 0.3s ease, background-color 0.1s ease-in-out;
}

.hovered {
    background-color: #000;
    width: 70px;
    height: 70px;
    border-width: 3px;
}
