.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: azure;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    transition-property: background-color;
    transition-property: border-radius;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition: transform 0.2s ease-out;
}

.container:hover {
    transform: translateY(-5px);
    height: 100%;
    width: 100%;
    border-radius: 40%;
    background-color: rgb(255, 53, 228);
}