.container {
    top: 220px;
    position: absolute;
    display: inline-block;
    background-color: wheat;
    border: 1px solid #000;
    border-radius: 50%;
}

.icon {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}